body {
    background-color : rgb(133, 188, 214)
  }

#pokebola{
 width: 180px;
 
}

#pokedex{
    font-size: 100px;
    font-style:italic;
    color: white;
    margin: 0%;
    padding-left: 30px;
  }

#nombreP{
    color: white;
    background-color: rgb(226, 43, 43);
    border-color: rgb(143, 0, 0);
}

#buscar{
    background-color: rgb(226, 43, 43);
    color: white;
    border-color: rgb(143, 0, 0);
}
