body {
    margin-left: 5%;
    margin-right: 5%;
    padding: 0%;
    text-align: center;
  }
  
  .container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }



  
#divP{
    font-size: 70px;
    font-style:italic;
    background-color: rgb(226, 43, 43);
    color: white;
    width: 100%;
    text-align: center;
  }

#nombreP{
    width: 20%;
    color: white;
    background-color: rgb(226, 43, 43);
    border-color: rgb(143, 0, 0);
}

#buscar{
      background-color: rgb(226, 43, 43);
    color: white;
    border-color: rgb(143, 0, 0);
    width: 20%;
}
